<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastra Clientes</title>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel='stylesheet' type='text/css' media="screen" href="../static/bootstrap.css">
</head>
<body>
    <h1>Cadastro de Clientes</h1>
    <div class="form-group" style="margin: 10px;">
    <form action="inserir_cliente" method="post">
        <label class="form-control">CPF</label>
        <input type="text" name="txt_cpf">
        <label class="form-control">Nome</label>
        <input type="text" name="txt_nome">
        <label class="form-control">Cidade</label>
        <input type="text" name="txt_cidade">
        <label class="form-control">Telefone</label>
        <input type="text" name="txt_telefone">
        <input type="submit" value='Salvar' title="Gravar">
    </form>
    </div>
    </body>
</body>
</html>